<div style="display: flex; justify-content: space-between; width: 800px;">
    <video width='400' controls>
        <source src='{{ MEDIA_URL }}{{ actualfile }}' type='video/avi'>
        <source src='{{ MEDIA_URL }}{{ actualfile }}' type='video/mp4'>
        Your browser does not support the video tag.
    </video>

    {% if outputfile %}
        <video width='400' controls>
            <source src='{{ MEDIA_URL }}{{ videofile }}' type='video/mp4'>
            <source src='{{ MEDIA_URL }}{{ videofile }}' type='video/avi'>
            Your browser does not support the video tag.
        </video>
    {% endif %}
</div>
